<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<div id="app">
  <date-picker v-model="date" :date-format="dateFormat"></date-picker>
  <input type="date" v-model="date">
  <button @click="changeFormat">Change Format</button>
  <p>{{ date }}</p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.15/vue.js"></script>
<script src="./datepicker.js"></script>
<script>
new Vue({
  el: "#app",
  data: {
    date: "2021-12-15",
    dateFormat: 'yy-mm-dd'
  },
  methods: {
    changeFormat(){
      this.dateFormat = 'yy/mm/dd';
    }
  }
})
</script>
